
*.meta
*.png
*.asset
Library/metadata/00/00000000000000001000000000000000

Library/

Builds/

UnityPackageManager/

Temp/

ProjectSettings/

SleepyGuy\.sln

Assembly-CSharp\.csproj

obj/

*.prefab

Assets/MainLevel\.unity

*.unity
